body{
    padding: 10px;
    background-color:#2D2A2E ;
}
h1{
    margin: 0px;
    text-align: center;
    color: white;
}
#visualize,#randomize{
    margin: 5px 0px;
    border: none;
    background-color:cyan ;
    padding: 2px 10px;
    border-radius: 5px;


}
.left,.right{
    margin: 10px;
}
nav>div>h1{
    color: white;
}
nav>div{
    
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.bars{
    margin-top: 20px;
    /* border: 1px solid cyan; */
    display: flex;
    padding: 10px;
    justify-content: center;
}
.bar{
    
    width: 10px;
    background-color: cyan;
    /* border: 1px solid cyan; */
}

#sorts{
    margin: 5px 0px;
    border: none;
    padding: 2px 10px;
    background-color: cyan;
    border-radius: 5px;
}
.opt{
    
    border: none;
    padding: 10px;
}